/* all */
.todo{
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.add-todo{
  width: 200px;
  height: 25px;
}

button{
  height: 29px
}

/* body */
ul{
  list-style: none; 
  padding: 0;
}

.tasks{
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding: 10px 0px;
  margin: 20px 0px;
}

.tasks:hover{
  background-color: gray;
  opacity: 0.5;
}

li{
  margin-right: 15px;
}

/* body-checkbox */
div input{
  margin-right: 10px;
}

/* body-item-text */
li.item{
  width: 150px;
}

.finished{
  text-decoration: line-through;
  color: gray;
}
